$black:                       #070707;
$gray-dark:                   #828282;
$gray-light:                  #F6F6F6;
$white:                       #FFFFFF;

$font-family:                   "gilroy-medium", "Helvetica Neue", Arial, sans-serif;
$font-family-bold:              "gilroy-bold", "Helvetica Neue", Arial, sans-serif;

$font-size-xs:                  1.4rem;
$font-size-sm:                  1.6rem;
$font-size:                     1.8rem;
$font-size-lg:                  3.4rem;
$font-size-xl:                  4.8rem;

$max-width-screen:              120rem;

$bp-xs:                         320px;
$bp-sm:                         576px;
$bp-md:                         768px;
$bp-lg:                         992px;
$bp-xl:                         1200px;

$z-index-1:                     1;

$header-height:                 8.6rem;