@import './fonts';
@import './variables';
@import './mixins';
@import './vendor/reset.scss';

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 940px;

    @include breakpoint($bp-lg){
        padding: 0 3rem;
    }
}

h1 {
    font: $font-size-xl $font-family-bold;      
}

h2 {
    font: $font-size-lg $font-family-bold;      
}

.show {
    display: block
}

.hide { 
    display: none
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@import './blocks/header.scss';
@import './blocks/home.scss';
@import './blocks/about.scss';
@import './blocks/skills.scss';