.about {
    padding-bottom: 12rem;
    padding-top: 10.8rem;
    background-color: $gray-light;
    text-align: center;

    @include breakpoint($bp-lg){
        padding-bottom: 7.6rem;
        padding-top: 8rem;
    }
}

.about__text-wrapper {
    margin: 3.2rem auto 0;
    max-width: 48.4rem;
}

.about__text {
    font: $font-size $font-family;

    + .about__text {
        margin-top: 3.2rem;
    }
}