.home {
    padding-bottom: 10rem;
    padding-top: calc(3.2rem + #{$header-height});

    @include breakpoint($bp-md){
        padding-top: 6.4rem;
    }
}

.home__general-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 4.4rem;

    @include breakpoint($bp-md){
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 3.6rem;
    }
}

.home__name {
    margin-bottom: -.4rem;
    width: 15rem;
    line-height: 1;
}

.home__designer-info {
    @include centerX();
    font-size: $font-size;

    @include breakpoint($bp-md){
        position: static;
        transform: none;
        margin-top: 2.4rem;
        line-height: 1.3;
    }
}

.home__language {
    margin-bottom: .4rem;
    font-size: 0;
    transform: rotate(180deg);
    writing-mode: tb-rl;   
    
    @include breakpoint($bp-md){
        display: none;
    }
}

.home__language-link {
    color: $gray-dark;
    font-size: $font-size-sm;
    text-decoration: none;

    + .home__language-link {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: .1rem solid $black;        
    }

    &.active {
        color: $black;
        font-family: $font-family-bold;
    }
}


.home__foto {
    @include breakpoint($bp-md){
        display: none;
    }

    &-mobile {
        display: none;

        @include breakpoint($bp-md){
            display: inline;
        }
    }
}