<section id="contacts" class="contacts container">
    <h2>Contacts</h2>
    <p class="contacts__text">Want to know more or just chat?<br>You are welcome!</p>
    <button type="button" class="contacts__button">Send message</button>
    <div class="contacts__social-wrapper">
        <ul class="contacts__social-icons">
            <li class="contacts__social-icon">
                <a href="#" class="contacts__social-link">
                    <svg><use xlink:href="./assets/images/sprite.svg#linkedIn_icon"></use></svg>
                </a>
            </li>
            <li class="contacts__social-icon">
                <a href="#" class="contacts__social-link">
                    <svg><use xlink:href="./assets/images/sprite.svg#instagram_icon"></use></svg>
                </a>
            </li>
            <li class="contacts__social-icon">
                <a href="#" class="contacts__social-link">
                    <svg><use xlink:href="./assets/images/sprite.svg#behance_icon"></use></svg>
                </a>
            </li>
            <li class="contacts__social-icon">
                <a href="#" class="contacts__social-link">
                    <svg><use xlink:href="./assets/images/sprite.svg#dribble_icon"></use></svg>
                </a>
            </li>
        </ul>
    </div>
    <p class="contacts__request-text">Like me on<br>LinkedIn, Instagram, Behance, Dribble</p>
</section>