<nav class="nav">
    <div class="container">
        <ul class="nav__menu">
            <li><a href="#home" class="nav__menu-link active">Home</a></li>
            <li><a href="#about" class="nav__menu-link">About me</a></li>
            <li><a href="#skills" class="nav__menu-link">Skills</a></li>
            <li><a href="#portfolio" class="nav__menu-link">Portfolio</a></li>
            <li><a href="#contacts" class="nav__menu-link">Contacts</a></li>
            <li class="nav__language">
                <a href="#" class="nav__language-link">RU</a>
                <a href="#" class="nav__language-link active">ENG</a>
            </li>
        </ul>
        <button class="nav__burger" type="button">
            <span>Open menu</span>
        </button>
    </div>
</nav>