<section class="home container">
    <div class="home__general-info">
        <h1 class="home__name">Denis Novik</h1> 
        <div class="home__designer-info">
            <p>UX | UI designer</p>
            <p>24 years old, Minsk</p>
        </div>  
        <div class="home__language">
            <a href="#" class="home__language-link">RU</a>
            <a href="#" class="home__language-link active">EN</a>
        </div> 
    </div>
    <img src="../assets/images/main_foto.jpg" width="100%" alt="Denis Novik UX | UI designer">
</section>