<section id="portfolio" class="portfolio">
    <div class="container">
        <h2>Portfolio</h2> 
        <a href="#" class="portfolio__item">
            <img src="./assets/images/portfolio_1.jpg" alt="Portfolio. Online fashion store - Homepage">
            <p class="portfolio__item-text">Online fashion store - Homepage</p>
        </a> 
        <a href="#" class="portfolio__item">
            <img src="./assets/images/portfolio_2.jpg" alt="Portfolio. Reebok Store - Concept">
            <p class="portfolio__item-text">Reebok Store - Concept</p>
        </a>  
        <a href="#" class="portfolio__item">
            <img src="./assets/images/portfolio_3.jpg" alt="Portfolio. Braun Landing Page - Concept">
            <p class="portfolio__item-text">Braun Landing Page - Concept</p>
        </a>    
    </div>
</section>