<section id="skills" class="skills container">
    <h2>Skills</h2>
    <div class="skills__description">
        <p class="skills__description-text">I work in such programs as</p>
        <div class="skills__tools">
            <div class="skills__tool">
                <div>
                    <svg><use xlink:href="assets/images/sprite.svg#ps_icon"></use></svg>
                    <p class="skills__tool-name">Adobe Photoshop</p>
                </div>
                <div class="skills__tool-raiting">
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#empty_star"></use></svg>
                </div>
            </div>
            <div class="skills__tool">
                <div>
                    <svg><use xlink:href="assets/images/sprite.svg#ai_icon"></use></svg>
                    <p class="skills__tool-name">Adobe Illustrator</p>
                </div>
                <div class="skills__tool-raiting">
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#empty_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#empty_star"></use></svg>
                </div>
            </div>
            <div class="skills__tool">
                <div>
                    <svg><use xlink:href="assets/images/sprite.svg#ae_icon"></use></svg>
                    <p class="skills__tool-name">Adobe<br>After Effects</p>
                </div>
                <div class="skills__tool-raiting">
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#empty_star"></use></svg>
                </div>
            </div>
            <div class="skills__tool">
                <div>
                    <svg><use xlink:href="assets/images/sprite.svg#figma_icon"></use></svg>
                    <p class="skills__tool-name">Figma</p>
                </div>
                <div class="skills__tool-raiting">
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#fill_star"></use></svg>
                    <svg><use xlink:href="assets/images/sprite.svg#empty_star"></use></svg>
                </div>
            </div>
        </div>
    </div>
</section>